body{
    background-color: rgb(250, 220, 112);
}
#container{
    width: 600px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px rgb(111, 105, 105);
    padding: 5px;
    overflow: hidden;
}
.card{
    border: 1px solid blue;
}
img, figcaption{
    max-width: 100px;
    margin: 10px;
    transition-duration: 0.5s;
}
img:hover{
    transform: scale(1.2);
}