body{
    background-color: rgb(250, 220, 112);
}
#container{
    width: 200px;
    margin: auto;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stitched{
    width: 100px;
    line-height: 1.3em;
    margin: 5px;
    padding: 5px;
    color: #ffffff;
    background: #0d90df;
    border: 2px dashed #ffffff;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 0 4px #0d90df,
    2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    text-shadow: -1px -1px #aa3030;
}