.grid-container{
    display: grid;
    grid-template-rows:50px 200px 50px;
    grid-template-areas: 
    "header"
    "section"
    "footer"
    ;
    background-color: rgb(250, 220, 112);
    border: 1px solid black;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    font-size: 18px;
    
}
.header{
    text-align: center;
    grid-area: "header";
    border-bottom: 1px solid black;
    padding: 10px;
}

.section{
    padding-left: 10px;
    grid-area: "section";
    border-bottom: 1px solid black;
}

.footer{
    text-align: center;
    
    grid-area: "footer";padding: 10px;
}