body {
    margin: 0;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

#grid-container {
    display: grid;
    grid-template-columns: 80px auto 450px;
    grid-template-areas: "nav content nav";
    height: 860px;
    
}

.grid-nav {
    padding: 30px;
    grid-area: 'nav';
    height: 100%;
}

.grid-content {
    padding: 30px 35px;
    grid-area: 'content';
    border: 1px solid rgb(239, 239, 239);
    height: 100%;
}
.flex-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center; 
}
#flex-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#flex-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item{
    margin-top: 35px;
    opacity: 0.8;
}
.item.active{
    opacity: 1;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid red;

}
div .new{
    position: relative;
    width: 16px;
    height: 15px;
    left: 63%;
    top: 27%;
    background-color: red;
    color: #ffffff;
    border-radius: 50%;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    border: 2px solid #ffffff;
}
#setting {
    margin-top: 20px;
}
.flex-header {
    text-align: center;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.flex-header .time-record {
    border: 1px solid rgb(228, 1, 1);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: red;
    padding: 2px 10px;
}

.flex-detail {
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
}

.detail {
    padding: 5px 10px;
    text-align: center;
    margin-right: 10px;
    opacity: 0.8;
}
.detail.active {
    opacity: 1;
    background-color: #ec5d7f;
    color: #fff;
    
}

.flex-screen {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
}

.large-screen {
    position: relative;
    height: 75%;
    background-image: url(./images/img_big.png);
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.flex-small-screen {
    position: relative;
    height: 25%;
    display: flex;
    justify-content: space-between;
}

.flex-small-screen div {
    width: 31%;
    border-radius: 10px;
}
.flex-small-screen #first-user{
    position: relative;
    background-image: url(./images/img2.png);
}
.flex-small-screen div:nth-child(2){
    position: relative;
    background-image: url(./images/img1.png);
}
.flex-small-screen div:nth-child(3){
    position: relative;
    background-image: url(./images/img.png);
}

.flex-func-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.flex-func {
    display: flex;
    justify-content: space-between;
}

.flex-func img {
    margin-right: 15px;
}

.flex-func div {
    background-color: rgb(245, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: 16px;
    padding: 5px 10px;
    color: #fff;
    margin-right: 15px;
}
.large-screen .name_speaker{
    display: inline-block;
    position: relative;
    top: 12px;
    left: 12px;
    padding: 7px 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    opacity: 0.8;
    background-color: #747577;
}
.large-screen img{
    position: absolute;
    right: 12px;
    top: 12px;
}

.flex-small-screen .name_speaker{
    display: inline-block;
    width: auto;
    position: relative;
    left: 7px;
    top: 7px;
    padding: 5px 5px;
    padding-top: 3px;
    border-radius: 5px;
    color: #fff;
    font-size: 10px;
    background-color: rgba(116, 117, 119, 0.5);
}
.flex-small-screen img{
    position: absolute;
    width: 20px;
    right: 7px;
    top: 7px;
}